$main_color: #3f749a;
$accent_color: #8a5a38;

$helvetica: "helvetica neue", arial, helvetica, freesans,
            "libaration sans", "numbus sans l", sans-serif;

body {
  color: #fff;
  font-family: $helvetica; }
